/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,400;1,900&display=swap');

/* TAILWINDCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


.font-lato {
  font-family: 'Lato', sans-serif;
}

.main-gradient {
  background: #b993d6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #b993d6, #8ca6db); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #b993d6, #8ca6db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, #b993d6 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-gradient {
  background: #780206;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-gradient:hover {
  box-shadow: 0px 0px 20px 3px rgba(120, 2, 6, 0.4);
}

.nav-gradient {
  background: rgba(255, 255, 255, 0.3);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-bg-services {
  background-color: transparent;
  background-image:
    radial-gradient(at 50% 60%, #8ca6db 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: transparent;
  background-image:
    radial-gradient(at 0% 100%, transparent 0, transparent 53%),
    radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.soft-border-color {
  border-color: rgba(255, 255, 255, .2);
}

.soft-text-color {
  color: rgba(255, 255, 255, .8);
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-white-glassmorphism {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background: #780206;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-text-shadow {
  text-shadow: 0px 0px 15px rgba(20, 20, 20, 0.4 );
}
